<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".FmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HudHudFM"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.appuser.LoginByActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.ListDragActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HudHudFM.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ProgramDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ListMultiSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImagePickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddProgramActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddEpisodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AppIntroLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.appuser.PhoneLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.appuser.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.appuser.VerificationPhone"
            android:screenOrientation="portrait" />
        <!--  -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.NoInternetActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity> <!-- <activity android:name=".ui.activity.player.MusicServiceActivity" /> -->
        <!-- <activity android:name=".ui.activity.player.PlayerActivity" /> -->
        <!-- <activity android:name=".ui.activity.player.PermitActivity" /> -->
        <service
            android:name=".utils.radio_player.PlaybackService"
            android:exported="true" />
        <service
            android:name=".utils.radio_player.RadioService"
            android:exported="true" /> <!-- <service android:name=".attachmentviewer.MusicService" /> -->
        <!-- <service android:name="com.sana.dev.fm.ui.activity.test.MusicService" /> -->
        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver> <!-- Facebook Configuration -->
        <!--
        <meta-data
                    android:name="com.facebook.sdk.ApplicationId"
                    android:value="@string/facebook_app_id" />
        -->
        <!--
        <meta-data
                    android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
                    android:value="false" />
        -->
        <!--
        <meta-data
                    android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
                    android:value="false" /> &lt;!&ndash; for google service &ndash;&gt;
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".utils.my_firebase.notification.FcmMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".ui.activity.player.MusicService"
            android:exported="true" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Hudhud FM AdMob app ID: ca-app-pub-8921334057686979~6893968687 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8921334057686979~6893968687" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />


<!--        <queries>-->
<!--            <package android:name="com.facebook.katana" />-->
<!--        </queries>-->

    </application>

</manifest>